html {
    font-size: large;
}

h1 {
    /*dotted underline*/
    padding-bottom: 10px;
    border-bottom: 10px dotted rgb(248, 106, 154);
}


input[type="file"] {
    margin-bottom: 0;
}

form{
    display: inline-flex;
    align-items:center;
}

.grid{
    padding-bottom: 20px;
}

.img-card img {
    width: auto;
    height: 300px;
}

.img-card img:hover {
    cursor: pointer;
    border: 5px solid;
}

.split-container {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

/* Style for the image and canvas containers */
.split-container img,
.split-container .canvas {
    flex: auto;
    width: 50%;
    object-fit: contain;
}

/* Make sure the image preserves its aspect ratio and scales */
.split-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Ensure the canvas takes up the full height of its container */
.split-container .canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    text-align: center;
    z-index: 10;
}

.htmx-indicator .htmx-request {
    opacity: 1;

}